@font-face {
    font-family: "Roboto";
    font-weight: normal;
    font-display: swap;
    src: local("Roboto Regular"), local("Roboto-Regular"),
        url("../assets/fonts/Monsterrat/Montserrat-Regular.otf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-display: swap;
    src: local("Roboto Bold"), local("Roboto-Bold"),
        url("../assets/fonts/Monsterrat/Montserrat-Bold.otf") format("truetype");
}

html {
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    font-weight: normal;
    // background-color: $color-background;
    line-height: normal;
    color: black;
}

div#root {
    height: 100%;
    overflow: hidden;
    width: 100vw;
}
